# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Testing
coverage

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Public assets
public

# Environment files
.env*

# Package locks
package-lock.json
yarn.lock
pnpm-lock.yaml
